.bank-item {
  margin: 10px 10px;
  margin-top: 50px;
  border: 1px solid #aaa;
  border-radius: 8px;
  background-color: #fff;
}
.mybankcard {
  background: #ffcf2d;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 3rem;
}
.username,.bankcardid,.cardnumber,.bankid,.time,.delete {
  color: #333;
  font-size: 16px;
  border-bottom: 1px solid #aaa;
  line-height: 3em;
}
.delete-svg {
  width: 22px;
  height: 22px;
}
