/*
MobileLogin.css
*/

button [disabled] {
    cursor:wait;
    /* > * {
        pointer-events: none;
    } */
}
button [disabled] > * {
    pointer-events:none;
}
/*
button {
  font-size: 15px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 0 7px 0;
  line-height: 42px;
  border: none;
  background: #000;
}
.Test {
  background-color: #000;
  height: 200px;
  color: #fff;
}
img {
  src:url(/public/img/login/background.jpg);
}
*/
.all {
  background-image: url(./background.jpg);
  background-size:100% 100%;
  height: 30rem;
}
.back {
  width: 25px;
  height: 25px;
}
.user-login {
  color: white;
  font-size: 1rem;
  padding-left: 8rem;
  /*line-height: 500px;*/
}
.phone-login {
  color: white;
  font-size: 0.7rem;
  padding-left: 4.8rem;
}
.frame {
  border: 1px solid #f6f6f6;
  border-radius: 0.5rem;
  background-color: #f6f6f6;
  padding: 0.1rem;
  margin: 0.9rem;
  margin-top: 8rem;
}
.username {
  background-color: #fff;
  padding-left: 1rem;
  margin: 0.8rem 0.8rem;
}
.password {
  margin:0.8rem 0.8rem;
  background-color: #fff;
  padding-left: 1rem;
}
.user-img {
  height: 2rem;
  width: 1.6rem;
  padding-top: 0.5rem;
  display: inline-flex;
}
.psw-img {
  height: 2rem;
  width: 1.5rem;
  padding-top: 0.5rem;
}
.login-btn {
  /*margin: auto;*/
  background-color: #ffc600;
  width: 18rem;
  border: 1px solid #ffc600;
  border-radius: 0.2rem;
  height: 2.2rem;
  color: #fff;
  /*align: center;*/
  outline: none;
  /*margin-left: 1.5rem;*/
  /*text-align: center;*/
  display: table;
  margin: 0 auto;
}
.forget-psw{
  display: block;
  text-align: center;
  color: #aaa;
  font-size: 0.9rem;
  margin: 1rem 0;
}
.div-bor{
  position: relative;
  width: 25rem;
  padding-left: 1rem;
}
.user-input {
  height: 2rem;
  border: 1px solid #aaa;
  line-height: 2.5rem;
  margin-bottom: 0.3rem;
  margin-left: 0.3rem;
  border: none;
}
.psw-input {
  height: 2rem;
  border: 1px solid #aaa;
  line-height: 2.5rem;
  margin-bottom: 0.3rem;
  margin-left: 0.3rem;
  border: none;
}
.icon-user{
  padding-left: 1.1rem;
  position: absolute;
  left: 0;
  z-index:5;
  background-image: url(people.png); /*引入图片图片*/
  background-repeat: no-repeat; /*设置图片不重复*/
  background-position: 0px 0px; /*图片显示的位置*/
  width: 1.8rem; /*设置图片显示的宽*/
  height: 1.6rem; /*图片显示的高*/
}

/*Login.css*/

body{font-size:0.14rem/*实际相当于14px*/}
/*iphone6*/
@media(min-device-width:375px)and(max-device-width:667px)and(-webkit-min-device-pixel-ratio:2){
html{font-size:117.1875px;}
}
/*iphone6plus*/
@media(min-device-width:414px)and(max-device-width:736px)and(-webkit-min-device-pixel-ratio:3){
html{font-size:129.375px;}
}
.layout {
  background-image: url(./background.jpg);
  background-size: 100% 100%;
}
.user-login-span {
  color: white;
  font-size: 0.18rem;
  margin-left: 1rem;
}
.number-login-span {
  color: white;
  font-size: 0.14rem;
  margin-left: 0.5rem;
  text-align: right;
}
.login-body {
  display: table;
  margin:  1rem auto 2rem auto;
  background-color: #f6f6f6;
  border-radius: 0.05rem;
  height: 2rem;
  width: 2.9rem;
  margin-top:;
  border: 1px solid #aaa;
}
.all-mobile {
  background-image: url(./background.jpg);
  background-size:100% 100%;
  height: 30rem;
  padding-top: 100px;
}
.flex-container {
  margin: 45px 15px;
  background-color: #f6f6f6;
  border-radius: 10px;
  padding:30px 15px 15px 15px;
}
.flex-container .inline {
  width: 80px!important;
  margin: 9px 9px 9px 0;
}
.input-item {
  outline: none;
  border: none;
  border-radius: 10px;
  margin-bottom: 10px;
  height: 20px;
}
.flex-container .small {
  height: 20px!important;
  line-height: 20px!important;
}
.sub-title {
  color: #888;
  font-size: 14px;
  padding: 30px 0 18px 0;
}
.placeholder {
  background-color: #ebebef;
  color: #bbb;
  text-align: center;
  height: 30px;
  line-height: 30px;
  width: 100%;
}
.psw-btn {
  background-color: #ffc600;
  border: 2px solid #ffc600;
}
.btn-active {
  background-color: #ffc600;
}
.forget-pwd{
  display: block;
  text-align: center;
  color: #aaa;
  font-size: 0.9rem;
  margin: 15px auto 0px auto;
}
/*.pwd-btn {
  height: 45px;
  text-align: center;
  vertical-align: middle;
}*/
.back-img {
  background-image: url(../blue.png);
  background-size: cover;
  padding-top: 20px;
  padding-bottom: 50px;
}
