html{font-size:100px;}
body{font-size:0.14rem/*实际相当于14px*/}
/*iphone6*/
@media(min-device-width:375px)and(max-device-width:667px)and(-webkit-min-device-pixel-ratio:2){
html{font-size:117.1875px;}
}
/*iphone6plus*/
@media(min-device-width:414px)and(max-device-width:736px)and(-webkit-min-device-pixel-ratio:3){
html{font-size:129.375px;}
}
.layout {
  background-image: url(./background.jpg);
  background-size: 100% 100%;

}
.user-login-span {
  color: white;
  font-size: 0.18rem;
  margin-left: 1rem;
}
.number-login-span {
  color: white;
  font-size: 0.14rem;
  margin-left: 0.5rem;
  text-align: right;
}
.login-body {
  display: table;
  margin:  1rem auto 2rem auto;
  background-color: #f6f6f6;
  border-radius: 0.05rem;
  height: 2rem;
  width: 2.9rem;
  margin-top:;
  border: 1px solid #aaa;

}
