.letter-box{
        width: 300px;
        height: 176px;
        padding: 5px;
        margin: 0 auto;
        box-sizing: border-box;
        background: linear-gradient(45deg,#f25953 12.5%,#fbfaf5 12.5%,
          #fbfaf5 25%,#5590d6 25%,#5590d6 37.5%,#fbfaf5 37.5%,#fbfaf5 50%,
          #f25953 50%,#f25953 62.5%,#fbfaf5 62.5%,#fbfaf5 75%,#5590d6 75%,
          #5590d6 87.5%,#fbfaf5 87.5%,#fbfaf5 100%);
        background-size: 8px 8px;
    }
.letter-border{
          width: 100%;
          height: 100%;
          background: #fff;
      }
.check-frame {
  background-color: #fff;
  padding-bottom: 1000px;
}
.check-item {
  background-color: #eee;
  margin: 15px 0;
}
.check-text {
  color: #888;
}
.check-code {
  color:#333;
}
