.back-color {
  /*background-color: to bottom right, orange;*/
  background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#ffcf2d), to(#ffbf2d));/*谷歌*/ 
   /*background: -webkit-linear-gradient(left, #ffcf17, #1edf17, #3ceded, #ffcf2d);*/
  height: 170px;
  margin-top: 46px;
  padding-top: 15px;
  position: relative;
}
