.flex-container {
  background-color: white;
}
.flex-container .small {
  height: 20px!important;
  line-height: 20px!important;
}
.shop-tag-menu img{
  width: 2.5rem;
}
.shop-tag-menu{
  font-size: 0.1rem;
  width: 100%;
}
.shop-tag-menu > .am-wingblank.am-wingblank-lg {
  width: auto;
  margin: auto;
}
.my-carousel .v-item {
  height: 36px;
  line-height: 36px;
  padding-left: 10px;
}
.sub-title {
  color: #888;
  font-size: 14px;
  padding: 30px 0 18px 0;
}
