.recommend-frame {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.test {
  display: flex;
  background-color: #fff;
  flex-direction: column;
  justify-content: center;
}
.good-img {
  width: 100px;
  height: 80px;
  align-self: center;
  margin-bottom: 5px;
  margin-top: 10px;
  border-radius: 5px;
}
.recommend-font {
  border-left: 3px solid #777;
  margin-left: 10px;
  padding-left: 10px;
  display: block;
}
.price-now {
  color:red;
  font-size: 14px;
  text-align: center;
}
.reward {
  font-size: 12px;
  color: #3ce8f8;
  text-align: center;
}
