.tab-height {
  /* height: 220px; */
}
.share-img {
  width: 25px;
  height: 25px;
}
.question-img {
  width: 14px;
  height: 14px;
  margin-left: 6px;
}
.tab-first {
  display: flex;
  flex-direction: column;
  padding: 5px 0px 0px 0px;
  background-color: #fff;
  justify-content: start;
  align-items: center;
}
.tab-first img {
  width: 100%;
  height: 100%;
}
.tab-second {
  background-color: #fff;
  padding: 15px 0px 10px 15px;
  color: #8c8c8c;
  font-size: 16px;
  align-items: left;
  justify-content: left;
}
.tab-second  {
  font-size: 14px;
}
