.one {
  background-color: #eee;
  color: #333;
  padding: 4px 15px;
  border-radius: 5px;
  margin: 10px;
}
.two {
  background-color: #aaa;
  color: #333;
  padding: 4px 15px;
  border-radius: 5px;
  margin: 10px;
}
