.tab-height {
  height: 200px;
}
.share-img {
  width: 25px;
  height: 25px;
}
.question-img {
  width: 14px;
  height: 14px;
  margin-left: 6px;
}
.tab-first {
  display: flex;
  padding: 15px 0px 0px 15px;
  background-color: #fff;
  justify-content: center;
  align-items: center;
}
.tab-second {
  background-color: #fff;
  padding: 15px 0px 0px 15px;
  color: #7b7b7b;
  font-size: 14px;
  align-items: left;
  justify-content: left;
}
